body {
  font-family: "Courier New", Courier, monospace;
  width: 50%;
  margin: auto;
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  display: block;
}

button {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  background-color: rgb(2, 170, 2);
  color: white;
  border: none;
  border-radius: 5px;
  vertical-align: 35%;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

textarea {
  border: none;
  border-radius: 5px;
  outline-color: rgb(2, 170, 2);
  background-color: rgb(240, 240, 240);
  padding: 5px;
  height: 15px;
  resize: none;
}

textarea:focus {
  background-color: white;
}

span {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  vertical-align: 30%;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.trash {
  vertical-align: 0%;
  margin: 0px 8px;
}
