body {
  margin:0 auto;
  font-size:1.2rem;
  line-height:1.5;
  letter-spacing:2px;
  width: 100%;
  max-width:500px; 
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  position: relative;
  /* Created with https://www.css-gradient.com */
  background: linear-gradient(to bottom, rgb(118, 233, 11) 0%, rgba(10, 42, 221, 0.934) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container{
  background:#d3efdf;
  max-width: 450px;
  width: 100%;
  margin: 120px auto;
  padding: 30px;
  justify-content: space-around;
  font-family: sans-serif;

}
h1 {
  text-align: center;
  font: bold 48px cursive;
}

p {
  color: red;
  font-weight: bold;
  text-align:center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  text-decoration: none solid rgb(0, 0, 0);
  list-style: none;
  font: 27px;

display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
list-style: none;
background: rgba(250, 214, 178, 0.434);
padding: 0 15px;
height: 45px;
line-height: 45px;
margin-bottom: 8px;
border-radius: 3px;
overflow: hidden;
}
.delete-button {
  background: transparent;
  border: none;
  color: red;
}

.completed-button{
  background: transparent;
  border: none;
  color: green;
  content: "\2713";
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0) ;
  /* opacity: 0.5; */
}



form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

textarea {
  text-align: center;
  border: 2px solid green;
  font: 16px 'Courier New', Courier, monospace;
}

.addBtn, #clearBtn {
  margin: 8px;
  padding:0.5rem;
  background-color: gray;
  font: bold 18px 'Courier New', Courier, monospace;
}



